# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/
client/client.iml
client/target/archive-tmp/
client/target/generated-sources/
client/target/generated-test-sources/
commons/commons.iml
commons/target/generated-sources/
commons/target/generated-test-sources/
plagiat-system.iml
server/server.iml
server/target/archive-tmp/
server/target/generated-sources/
server/target/generated-test-sources/
